#ignore manifest folder
manifests/


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

#ignore notebooks
notebooks/

#ignore tokenized
data/tokenized/
data/tokenized/

#ignore models and checkpoints
exp/

#ignore outputs generated
infer/
